---
---

// Reset using Normalize
@import "normalize";

// Import fonts from Google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

// Site configuration
@import "config";

// Import Partials
@import "partials/typography";
@import "partials/mixins";

// Modules
@import "modules/buttons";
@import "modules/forms";
@import "modules/tables";
@import "modules/syntax";

// Mobile up base styles
@import "breakpoints/mobileup";

// Import media queries add more as you desire
@media only screen and (min-width: 800px) {
	@import "breakpoints/800up";
}
@media only screen and (min-width: 1200px) {
	@import "breakpoints/1200up";
}

.centered-block {
  text-align: center;
  margin: 40px 0;
}

.centered-block img {
  max-width: 450px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.centered-block p {
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
}

footer {
  background-color: transparent;
  text-align: center;
  padding: 20px;
  font-size: 0.8em;
  font-style: italic;
  color: #666;
  border-top: 1px solid #ddd;
  margin-top: 40px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 40px auto 0 auto; /* top margin 40px, centred horizontally */
  padding: 1em 0;
  clear: both;
}

.pagination a {
  margin: 0 10px;
  flex: 0 0 auto;
}

.pagination::after {
  content: "";
  display: table;
  clear: both;
}

// If IE support is needed you can add them here or create another stylesheet for specific IE fixes
