<!DOCTYPE html>
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ page.lang | default: site.lang }}"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ page.lang | default: site.lang }}"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js lt-ie9" lang="{{ page.lang | default: site.lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang | default: site.lang }}"> <!--<![endif]-->

<head>
   
   {%- include head.html -%}
   
</head>
   
<body>

   {%- include header.html -%}

   <div class="content">
      <div class="container">
         {{ content }}
      </div>
   </div><!-- end .content -->

   {%- include scripts.html -%}

   {% include footer.html %}

</body>

</html>
